@model IEnumerable<UsersAndRolesDemo.AspNetUser>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("New Owner", "NewUser")
</p>
<table class="table">
    <tr>
        <th>
            Email
        </th>
        <th>
            Phone Number
        </th>
        <th>
            User Name
        </th>
        <th>
            First Name
        </th>
        <th>
            Last Name
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PhoneNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastName)
        </td>
        <td>
            @Html.ActionLink("Edit", "OwnerProfile","Account", new { id = item.Id }, "" ) |
            @Html.ActionLink("Delete", "DeleteUser","Account", new { id=item.Id }, "")
        </td>
    </tr>
}

</table>
