<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
</head>
<body>
    <div>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        @{
                            if (!Request.IsAuthenticated)
                            {
                                @Html.Raw("<li>");@Html.ActionLink("Home", "Index", "Home");@Html.Raw("</li>");
                                @Html.Raw("<li>");@Html.ActionLink("Login", "Login", "Home");@Html.Raw("</li>");
                                @Html.Raw("<li>");@Html.ActionLink("Register", "Register", "Home");@Html.Raw("</li>");
                            }
                            if (Request.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("Owner")))
                            {
                                @Html.Raw("<li>");@Html.ActionLink("Secure Area", "SecureArea", "Home");@Html.Raw("</li>");
                            }
                            if (Request.IsAuthenticated && User.IsInRole("Admin"))
                            {
                                @Html.Raw("<li>");@Html.ActionLink("Administrators", "Admin", "Home");@Html.Raw("</li>");
                                @Html.Raw("<li>");@Html.ActionLink("Create Roles", "AddRole", "Home");@Html.Raw("</li>");
                                @Html.Raw("<li>");@Html.ActionLink("Assign Roles", "AddUserToRole", "Home");@Html.Raw("</li>");
                            }
                            if (Request.IsAuthenticated && (User.IsInRole("Admin") || User.IsInRole("Owner")))
                            {
                                @Html.Raw("<li>");@Html.ActionLink("[" + User.Identity.Name + "]", "Profile", "Account");@Html.Raw("</li>");
                                @Html.Raw("<li>");@Html.ActionLink("Logout", "Logout", "Home");@Html.Raw("</li>");
                            }
                        }
                    </ul>
                    <ul class="nav navbar-nav navbar-right">

                    </ul>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
    </div>

    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
