<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>
    <div>

        @{
            if (!Request.IsAuthenticated)
            {
                @Html.ActionLink("Index", "Index", "Home");
                @Html.Raw("&nbsp;|&nbsp;");
                @Html.ActionLink("Login", "Login", "Home");
                @Html.Raw("&nbsp;|&nbsp;");
                @Html.ActionLink("Register", "Register", "Home");
            }
            if ( Request.IsAuthenticated && ( User.IsInRole("Admin") || User.IsInRole("Owner") ) )
            {
                @Html.ActionLink("Secure Area", "SecureArea", "Home");
            }
            if ( Request.IsAuthenticated && User.IsInRole("Admin") )
            {
                @Html.Raw("&nbsp;|&nbsp;");
                @Html.ActionLink("Managers", "Manager", "Home");
            }
            if (Request.IsAuthenticated && User.IsInRole("Admin") )
            {
                @Html.Raw("&nbsp;|&nbsp;");
                @Html.ActionLink("Administrators", "Admin", "Home");
                @Html.Raw("&nbsp;|&nbsp;");
                @Html.ActionLink("Create Roles", "AddRole", "Home");
                @Html.Raw("&nbsp;|&nbsp;");
                @Html.ActionLink("Assign Roles", "AddUserToRole", "Home");
            }
            if ( Request.IsAuthenticated && ( User.IsInRole("Admin") || User.IsInRole("Owner") ) )
            {
                @Html.Raw("&nbsp;|&nbsp;");
                @Html.Raw("[");
                @Html.Raw(User.Identity.Name);
                @Html.Raw("]");
                @Html.Raw("&nbsp;|&nbsp;");
                @Html.ActionLink("Logout", "Logout", "Home");
            }
            /*
            <div>
                @Html.ActionLink("Login", "Index", "Home") |
                @Html.ActionLink("Register", "Register", "Home") |
                @Html.ActionLink("Secure Area", "SecureArea", "Home") |
                @Html.ActionLink("Create Roles", "AddRole", "Home") |
                @Html.ActionLink("Assign Roles", "AddUserToRole", "Home") |
                @Html.ActionLink("Admin", "AdminOnly", "Home") |
                @Html.ActionLink("Logout", "Logout", "Home")
                @RenderBody()
            </div>*/
        }
    </div>
    <div class="container">
        @RenderBody()
    </div>
</body>
</html>
