@model UsersAndRolesDemo.Property

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="panel panel-default">
    <div class="panel-body">
        <h1>@Html.DisplayFor(model => model.title)</h1>
        <div>@Html.DisplayFor(model => model.summary)</div>
        <div>@Html.DisplayFor(model => model.builtYear)</div>
        <div>@Html.DisplayFor(model => model.address)</div>
        <div>Price: @Html.DisplayFor(model => model.baseRate)/Day</div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-md-4">
        <div class="thumbnail">
            <img src="@Url.Content(Model.PropertyImages.FirstOrDefault().main)" class="img-responsive" />
            <div class="caption"></div>
        </div>
    </div>
    <div class="col-xs-12 col-md-4">
        <div class="thumbnail">
            <img src="@Url.Content(Model.PropertyImages.FirstOrDefault().bedroom)" class="img-responsive" />
            <div class="caption"></div>
        </div>
    </div>
    <div class="col-xs-12 col-md-4">
        <div class="thumbnail">
            <div style="height: 200px; overflow: hidden;">
                <img src="@Url.Content(Model.PropertyImages.FirstOrDefault().livingroom)" class="img-responsive" style="width: 282px;height: 200px;-o-object-fit: contain;" />
            </div>
            <div class="caption"></div>
        </div>
    </div>
    <div class="col-xs-12 col-md-4">
        <div class="thumbnail">
            <img src="@Url.Content(Model.PropertyImages.FirstOrDefault().bathroom)" class="img-responsive" />
            <div class="caption"></div>
        </div>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">Property Details</div>
    <div class="panel-body">
        <div class="col-xs-12 col-sm-4">Type: @Html.DisplayFor(model => model.propertyType)</div>
        <div class="col-xs-12 col-sm-4">Demensions: @Html.DisplayFor(model => model.dimensions)</div>
        <div class="col-xs-12 col-sm-4">Bedrooms: @Html.DisplayFor(model => model.numBedrooms)</div>
        <div class="col-xs-12 col-sm-4">Bathroom: @Html.DisplayFor(model => model.numWashrooms)</div>
        <div class="col-xs-12 col-sm-4">Kitchen: @Html.DisplayFor(model => model.kitchen)</div>
        <div class="col-xs-12 col-sm-4">Max Sleeps: @Html.DisplayFor(model => model.maxNumberGuests)</div>
        <div class="col-xs-12 col-sm-4">Smoking Allowed: @Html.DisplayFor(model => model.smokingAllowed)</div>
    </div>
</div>

<p>
@{
    if (Request.IsAuthenticated && User.IsInRole("Admin"))
    {
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id });
        @Html.Raw(" | ");
    }
}
    @Html.ActionLink("Back to List", "Index")
</p>